<ion-header>
  <ion-toolbar class="custom-toolbar">
    <div class="header-content">
      <div class="logo">
        <ion-icon name="book" aria-label="Livros"></ion-icon>
      </div>
      <nav>
        <a href="\home" style="gap: 5px;"><i class="fa-solid fa-house"></i> Início</a>
        <a href="\pesquisa" style="gap: 5px;"><i class="fa-solid fa-magnifying-glass"></i> Buscar Livros</a>
      </nav>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollEvents="true">

  <!-- Barra de busca -->
  <div class="search-bar">
    <ion-input
      [(ngModel)]="query"
      placeholder="Pesquisar livros..."
      type="text"
      clearInput="true"
    ></ion-input>
    <button id="search" (click)="search()">Buscar</button>
  </div>

  <!-- MENSAGENS DE STATUS -->
  @if (loading && books.length === 0) {
    <div class="status-message">Carregando...</div>
  }

  @if (error) {
    <div class="status-message error">
      {{ error }}
    </div>
  }

  @if (!loading && books.length === 0 && query) {
    <div class="status-message">
      Nenhum livro encontrado para "{{ query }}".
    </div>
  }

<!-- LISTA DE LIVROS -->
@if (books.length > 0) {
  <ul class="book-list">

    @for (book of books; track trackByBook(book, i); let i = $index) {
      <li (click)="openDetails(book)" class="book-item">

        <div class="book-media">
          <img
            [src]="book.volumeInfo.imageLinks?.thumbnail || 'https://placehold.co/128x192/454545/ffffff?text=Sem+Capa'"
            alt="Capa do livro"
            onerror="this.onerror=null; this.src='https://placehold.co/128x192/454545/ffffff?text=Sem+Capa';"
          />
        </div>

        <div class="book-content">
          <h3>{{ book.volumeInfo.title }}</h3>
          <p><strong>Autor:</strong> {{ (book.volumeInfo.authors || []).join(', ') }}</p>
          <p><strong>Descrição:</strong> {{ book.volumeInfo.description | truncate: 100 }}</p> <!-- Uso do truncate a pipe personalizada JM -->
        </div>

      </li>
    } @empty {
      <div class="status-message">Nenhum livro encontrado.</div>
    }

  </ul>
}

  <!-- Scroll infinito -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="dots"
      loadingText="Carregando mais..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
